<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map and Player Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="map-container">
            <img src="{{ url_for('static', filename='Map.jpg') }}" alt="Map" class="Map">
            <div class="button-container">
                <button class="btn1">Battle</button>
                <img src="{{ url_for('static', filename='Battle.jpg') }}" alt="Battle" class="Battle">
                <button class="btn2">Safe Haven</button>
                <img src="{{ url_for('static', filename='SafeHaven.jpg') }}" alt="SafeHaven" class="SafeHaven">
            </div>
        </div>
        <div class="player-info">
            <h2 class="title">Player Information</h2>
            <p> HP: </p>
            <p> Currency: </p>
            <p> Actions: </p>
            <div class="inventory-box">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <!-- Add more items as needed -->
                </ul>
            </div>
            <p class="inventory"> Inventory: </p>
            <div class="inventory-box">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <!-- Add more items as needed -->
                </ul>
            </div>
        </div>
    </div>
    <script src="game.js"></script>
</body>
</html>
