{% extends "leaderboard.html "%}
{% block title %}Kill-Death Rank{% endblock %}
{% block content %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th{
            color: black;
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        td {
            color: whitesmoke;
            font-family: 'Ancient Modern Tales';
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }

        h2 {
            text-align: center;
            font-size: 24px;
            color: white;
            font-family: "Breathe Fire";
            font-weight: lighter;

        }

    </style>
        <h2>Kill-Death Rank</h2>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>KDR</th>
                </tr>
            </thead>
            <tbody>
                {% for username, kdr_display, _ in kdr_list %}
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ kdr_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock%}